/* 1. NAV */
nav {
  background: black;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 100;
}
.nav-btn {
  background: none;
  border: 0;
  font-size: 25px;
  color: #626977;
  margin-top: 14px;
  cursor: pointer;
  outline: 0;
}
.nav-btn:hover {
  color: white;
}
nav ul {
  background: #131517;
  position: absolute;
  top: 100%;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 230px;
  transform: translateX(-100%);
  transition: 0.4s ease;
}
nav ul li a {
  display: block;
  padding: 14px;
  color: #626977;
  font-weight: 500;
}
nav ul li a:hover {
  color: #fff;
  background: #61dafb;
}

.selected {
  color: #fff;
  background: #61dafb;
}

.open {
  transform: translateX(0);
}

/*
#131517*/