.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index:2;
    width:100%;
    height: 100%;
    cursor:pointer;
    background: rgba(0, 0, 0, 0.6);
  }
  
  iframe{
      width:100%;
      height:100%;
  }
  .no-trailer{
      text-align:center;
      color:white;
      font-size: 20px;
      font-style: bold;
  }
  .modal-main {
    position:fixed;
    width: 70%;
    height: 43%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  .display-block {
    display: block;
    cursor:pointer;
  }
  
  .display-none {
    display: none;
  }
