body{
  overflow-x: hidden;
}
.container {
  width: 85vw;
  margin: auto;
}
.slick-dots li button:focus, .slick-dots li button:hover {
  outline: 0;
  cursor:pointer !important;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background: #0b1114 /*#01070c*/;
}
* {
  margin: 0;
}

.slick-slide img {
  display: block;
  width: 100% !important;
  height:100% !important;
}

a{
text-decoration: none;
}
